@using QuanLyKhachSan.ViewModels;
@using QuanLyKhachSan.Dropdownlist;



@{
    ViewBag.Title = "BookRoom";
    var Hotel = ViewBag.Hotel;
    IEnumerable<LoaiPhong> listLoaiPhong = ViewBag.listLoaiPhong;
    int? maKS = Hotel.MaKS;
    string selectedValue = ViewBag.maLoaiPhong;
    string ngayDatPhong = ViewBag.ngayDatPhong;


}

@using (Html.BeginForm("DetailRoom", "BookRoom", FormMethod.Get))
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Tên Khách Sạn</th>
                <th scope="col">Số Sao</th>
                <th scope="col">Số Nhà</th>
                <th scope="col">Đường</th>
                <th scope="col">Quận</th>
                <th scope="col">Thành phố</th>
                <th scope="col">Giá</th>
                <th scope="col">Mô tả</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Hotel.TenKS</td>
                <td>@Hotel.SoSao</td>
                <td>@Hotel.SoNha</td>
                <td>@Hotel.Duong</td>
                <td>@Hotel.Quan</td>
                <td>@Hotel.ThanhPho</td>
                <td>@Hotel.GiaTB</td>
                <td>@Hotel.MoTa</td>
            </tr>
        </tbody>
    </table>


    //Du lieu an
    <hr />
    <input hidden id="maKS" type="text" name="maKS" value=@Hotel.MaKS>
    <input id="maLP" type="text" name="maLoaiPhong">
    <input hidden id="begin_Date" type="text" name="ngayBatDau">
    <input hidden id="end_Date" type="text" name="ngayTraPhong">
    <input hidden id="donGia" type="text" name="donGia" value=@Hotel.GiaTB>
    <input hidden id="maPhong" type="text" value="maPhong" name="maPhong">

    <div>
        <div class="inline">
            <h3>Chọn Loại Phòng Muốn Đặt</h3>
            @Html.DropDownList("myselect", DropDownList.GetTyleRoom(maKS, selectedValue), new { @class = "form-control" })
        </div>
        <div class="inline" style="margin-left:80px">
            <h3>Chọn Ngày Muốn Đặt </h3>
            @if (ngayDatPhong == null || ngayDatPhong == "")
            {
                ngayDatPhong = ViewBag.thisday;
            }

            <input type="date" id="book_Date" value=@ngayDatPhong class="form-control">
            <p id="checkDate"></p>
        </div>
        <br class="clearBoth" /><!-- you may or may not need this -->
    </div>
    <hr />
    <th style="width:200px; padding-left: 15px"><button type="submit" class="btn btn-success" onclick="InPhong()"><i class="fas fa-search-plus"></i> In Phòng</button></th>
    <hr />
    <p>@ViewBag.ThongBao</p>
    //List Phong
    if (ViewBag.listPhong != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th style="width:100px">Số Phòng</th>
                    <th style="width:100px">Tình Trạng</th>
                    <th style="width:100px">Ngày trả phòng</th>
                    <th style="width:100px">Ðặt phòng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.listPhong)
                {
                    <tr>
                        <td>@item.soPhong</td>
                        <td>@item.stage</td>
                        <td>
                            <input type="date" id="pay_Date" value=@ngayDatPhong class="form-control" style="width:200px" onchange="checkDate()" />
                        </td>
                        @if (ViewBag.User != null && item.stage!="hết phòng")
                        {


                            //ma = @item.soPhong;
                            <td>
                                <button type="submit" class="btn btn-danger" onclick="DatPhong('@item.maPhong')">
                                    <i class="fas fa-plus-circle"></i> Ðặt Phòng
                                </button>
                            </td>
                        }
                        else
                        {
                            <td>Không thể đặt</td>
                        }

                    </tr>
                }
            </tbody>
        </table>

    }
}

<style>
    div.inline {
        float: left;
    }

    .clearBoth {
        clear: both;
    }
</style>

<script>
    function InPhong() {
        var x = document.getElementById("myselect").value;
        document.getElementById("maLP").value = x;

        var dateBegin = document.getElementById("book_Date").value;
        document.getElementById("begin_Date").value = dateBegin;


    }
    var ma;
    function DatPhong(ma) {
        var x = document.getElementById("myselect").value;
        document.getElementById("maLP").value = x;

        var dateBegin = document.getElementById("book_Date").value;
        document.getElementById("begin_Date").value = dateBegin;




        var dateEnd = document.getElementById("pay_Date").value;
        document.getElementById("end_Date").value = dateEnd;

        document.getElementById("maPhong").value = ma;




    }

    function checkDate() {
        let a = document.getElementById("book_Date");
        let b = document.getElementById("pay_Date");
        let bookDate = new Date(a.value);
        let payDate = new Date(b.value);
        if (bookDate >= payDate) {
            document.getElementById("checkDate").innerHTML = "Ngày trả phòng chưa hợp lệ kiểm tra lại";
        }
        else {
            document.getElementById("checkDate").innerHTML = "";
        }
    }
</script>