@using QuanLyKhachSan.Models;
@using QuanLyKhachSan.Dropdownlist;
@model IEnumerable<TimKiemSaoVaThanhPho_Result>
@{
    string selectedStar = ViewBag.sao;
    string selectedCity = ViewBag.city;
    ViewBag.Title = "GiaVaThanhPho";
}

<div class="row">
    @using (Html.BeginForm("HangSaoVaThanhPho", "TimKiemKS", FormMethod.Get))
    {
        <table>
            <tbody>
                <tr>
                    <th style="width:100px">Giá cần tìm</th>
                    <th style="width:150px">
                    
                         @Html.DropDownList("mysao", DropDownList.GetStars(selectedStar), new { @class= "form-control" })
                    </th>
                    <th style="width:150px;text-align:right;text-align:center">Tên thành phố</th>
                    <th style="width:150px">
 
                          @Html.DropDownList("mycity", DropDownList.GetCities(selectedCity), new { @class= "form-control" })

                    </th>

                    <th style="width:200px; padding-left: 15px"><button type="submit" class="btn btn-success" onclick="myFunction()"><i class="fas fa-search-plus"></i> Tìm kiếm</button></th>
                </tr>
            </tbody>
        </table>
        <br />
        <input hidden id="sao" type="text" name="sao">
        <input hidden id="tp" type="text" name="tp">
    }
    <hr />

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Tên Khách Sạn</th>
                    <th scope="col">Số Sao</th>
                    <th scope="col">Số Nhà</th>
                    <th scope="col">Đường</th>
                    <th scope="col">Quận</th>
                    <th scope="col">Thành phố</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Mô tả</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@Html.ActionLink(item.TenKS, "DetailRoom", "BookRoom", new { makS = item.MaKS }, null)</td>
                        <td>@item.SoSao</td>
                        <td>@item.SoNha</td>
                        <td>@item.Duong</td>
                        <td>@item.Quan</td>
                        <td>@item.ThanhPho</td>
                        <td>@item.GiaTB</td>
                        <td>@item.MoTa</td>
                    </tr>
                </tbody>
            }
        </table>
    }


</div>

<script>
    function myFunction() {
        var sao = document.getElementById("mysao").value;
        var city = document.getElementById("mycity").value;

        document.getElementById("tp").value = city;
        document.getElementById("sao").value = sao;

    }
</script>

