<!DOCTYPE html>
@{ 
    var u = Session["loginSuccess"] as QuanLyKhachSan.ViewModels.UserName;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><i class="fas fa-home"></i> Quản lý khách sạn</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/Home/index"><i class="fas fa-home"></i> Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-search"></i> Tìm kiếm khách sạn<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/TimKiemKS/GiaVaThanhPho">Theo giá và Thành phố</a></li>
                                <li><a href="/TimKiemKS/HangSaoVaThanhPho">Hạng sao và Thành phố</a></li>
                            </ul>
                        </li>
                        @if (Session["loginSuccess"] != null && u.style == 1)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-search"></i> Chức Năng Nhân Viên<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Employee/ScanfIDBookRoom">Lập hóa đơn</a></li>
                                    <li><a href="/Employee/SearchReceipt">Tìm hóa đơn</a></li>
                                    <li><a href="#">Thống kê theo tháng</a></li>
                                    <li><a href="#">Thống kê theo năm</a></li>
                                </ul>
                            </li>
                        }

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Session["loginSuccess"] != null)
                        {
                            var user = Session["loginSuccess"] as QuanLyKhachSan.ViewModels.UserName;
                            <li><a href="/User/DetailCart"><i class="fas fa-cart-plus"></i> Cart</a></li>
                            <li><a href="/User/Detail"><span class="glyphicon glyphicon-user"></span> @user.userName</a></li>
                            <li><a href="/Signin/Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        }
                        else
                        {
                            <li><a href="/Home/Signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="/Signin/Signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
        @RenderBody()
    </div>



</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")
</html>
